<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>

    <link type="text/css" rel="stylesheet" href="~/Content/bootstrap3.0.0/css/bootstrap.min.css" />
    <link href="@Url.Content("~/Content/bootstrapfileinput.css")" rel="stylesheet" type="text/css" />
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    <script src="~/Content/bootstrap3.0.0/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/Scripts/ajaxfileupload.js" type="text/javascript"></script>
</head>
<body>

    <div class="body-header">
        <img src="~/Content/images/FinisarLogo.jpg" class="logo-img">
    </div>
    <div class="body-content">
        @RenderBody()
    </div>
    <footer></footer>

    <div class="modal fade" id="myLoadingModal" role="dialog">
        <div class="modal-dialog loading-modal">
            <!--[if lt IE 9]>
            <h1>Loading!  Please waiting...</h1>
            <![endif]-->

            <div class="row">
                <div class="spinner">
                    <div class="cube1"></div>
                    <div class="cube2"></div>
                </div>
            </div>
            <div class="loading-content">
                <h4>
                    <span class="loading-span">F</span>
                    <span class="loading-span loading-span-i-0">I</span>
                    <span class="loading-span">N</span>
                    <span class="loading-span loading-span-i-1">I</span>
                    <span class="loading-span">S</span>
                    <span class="loading-span">A</span>
                    <span class="loading-span">R</span>
                </h4>
            </div>
        </div>
    </div>

</body>
</html>
