
@{
    ViewBag.Title = "SettingScrapRule";
    Layout = "~/Views/Shared/_Layout4Scrap.cshtml";
}

<link type="text/css" rel="stylesheet" href="~/Content/scrap.css" />
<link type="text/css" rel="stylesheet" href="~/Content/bootstrapfileinput.css" />
<link type="text/css" rel="stylesheet" href="~/Scripts/jquery-autocomplete/jquery.auto-complete.css" />
<script type="text/javascript" src="~/Scripts/jquery-autocomplete/jquery.auto-complete.min.js"></script>

<script type="text/javascript" src="~/Scripts/jquery-bootstrap-loading.js"></script>
<script type="text/javascript" src="~/Scripts/scrap.js"></script>
<script type="text/javascript">
    $(function(){
        Scrap.settingpageinit();
    })
</script>

<nav class="col-xs-2 nav-sidebar">
    <ul class="nav">
        <li class="nav-sidebar-icon">
            <span>PN List</span>
        </li>
        <li>
            <a class="search-container">
                <div class="input-group">
                    <input type="text" class="form-control" id="pn-search" name="pn-search" placeholder="Search Keys" value="" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-search" id="btn-pn-search"></span>
                    </span>
                </div>
            </a>
        </li>

        @foreach (var pnitem in ViewBag.pnvmlist)
        {
            var liactive = "";
            if (string.Compare(pnitem.PN, ViewBag.activepn, true) == 0)
            { liactive = "active"; }

            <li class="@(liactive)">
                <a>
                    <div class="item-show pn-show" data-pn="@(pnitem.PN)">@(pnitem.PN)-@(pnitem.PNPJ)</div>
                    <div class="pn-del" data-pnkey="@(pnitem.PNKey)">
                        <span class="glyphicon glyphicon-remove hidden"></span>
                    </div>
                </a>
            </li>
        }

        <li class="li-pn-add">
            <div class="pn-add">
                <span class="glyphicon glyphicon-plus"></span>
            </div>
        </li>
    </ul>
</nav>
<div class="col-xs-10">
    <div class="pn-setting-title">
        <span class="ReturnMainPage">Main Page</span>
        &nbsp;/&nbsp;@(ViewBag.activepn) Setting
    </div>

    @if (ViewBag.activepnsettings != null)
    {
        <div class="pn-setting">
            <input type="hidden" id="h-pn-key" name="h-pn-key" value="@(ViewBag.activepnsettings.PNKey)">

            <div class="row n-row">
                <label class="col-xs-1 col-xs-offset-1">PN</label>
                <div class="col-xs-3">
                    <input type="text" class="form-control" id="pn-no" name="pn-no" value="@(ViewBag.activepnsettings.PN)">
                </div>
                <label class="col-xs-1 col-xs-offset-1">Project</label>
                <div class="col-xs-3">
                    <input type="text" class="form-control" id="pro-key" name="pro-key" value="@(ViewBag.activepnsettings.PNPJ)">
                </div>

            </div>
            <div class="row n-row">
                <label class="col-xs-1 col-xs-offset-1">Default Result</label>
                <div class="col-xs-3">
                    @Html.DropDownList("updatedefreslist", null, new { @id = "updatedefreslist", @name = "updatedefreslist", @class = "form-control" })
                </div>

                <label class="col-xs-1"></label>
                <div class="col-xs-2">
                    <span class="btn btn-success btn-file" style="font-family:'Arial Narrow', arial" id="choosefile">
                        <strong>Upload MESConfig.ini </strong>
                        <input type="file" class="form-control" id="con-file" name="con-file" runat="server" onchange="ShowFileNames(this)">
                    </span>
                </div>
                <div class="col-xs-5">
                    <label class="control-label" id="showfilename" name="showfilename"></label>
                </div>
                @*<div class="col-xs-1">
                    
                </div>*@
                <script type="text/javascript">
                    function ShowFileNames(oFile) {
                        $('#showfilename').text(oFile.value);
                    }
                </script>
            </div>

            <div class="row n-row">
                <label class="col-xs-1 col-xs-offset-1"></label>
                <div class="col-xs-2">
                    <input type="button" class="btn btn-success" id="btn-bind" name="btn-bind" data-type="1" value="Update">
                </div>
            </div>
        </div>

        <div class="pn-rules-title hide">Rules</div>
        <div class="pn-rules hide">
            <div class="n-row">
                <table class="table table-condensed">
                    <caption>
                        <div class="col-xs-4 tb-total">
                            <span>Total: @(ViewBag.activepnsettings.PnRuleList.Count)</span>
                        </div>
                        <div class="col-xs-4 add-rule-container">
                            <span class="glyphicon glyphicon-plus" id="btn-add-rule" name="btn-add-rule" title="Add Rule" data-toggle="tooltip"></span>
                        </div>
                        <div class="col-xs-4">
                            <div class="input-group">
                                <input type="text" class="form-control" id="tb-search" name="tb-search" placeholder="Search Keys" value="" />
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-search" id="btn-search"></span>
                                </span>
                            </div>
                        </div>
                    </caption>
                    <thead>
                        <tr>
                            <th>Which Test</th>
                            <th>ErrAbbr</th>
                            <th>Param</th>
                            <th>Low Limit</th>
                            <th>High Limit</th>
                            <th>Result</th>
                            <th>Operation</th>
                        </tr>
                    </thead>
                    <tbody id="rules-body">
                        @foreach (var ruleitem in ViewBag.activepnsettings.PnRuleList)
                        {
                            <tr id="@(ruleitem.RuleID)">
                                <td>@(ruleitem.WhichTest)</td>
                                <td>@(ruleitem.ErrAbbr)</td>
                                <td>@(ruleitem.Param)</td>
                                <td>@(ruleitem.LowLimit)</td>
                                <td>@(ruleitem.HighLimit)</td>
                                <td>@(ruleitem.RuleRes)</td>
                                <td>
                                    <a data-id="@(ruleitem.RuleID)" class="edit-rule">Edit</a>
                                    <a data-id="@(ruleitem.RuleID)" class="del-rule">Delete</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    }

</div>

<div id="modal-pn-add" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog cus-modal" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Add PN</h4>
            </div>
            <div class="modal-body">
                <div class="row n-row">
                    <label class="col-xs-3 m-label">PN<font color="red">*</font></label>
                    <div class="col-xs-8">
                        <input type="text" class="form-control" id="m-pn-no" name="m-pn-no">
                    </div>
                </div>
                <div class="row n-row">
                    <label class="col-xs-3 m-label">Project</label>
                    <div class="col-xs-8">
                        <input type="text" class="form-control" id="m-project" name="m-project">
                    </div>
                </div>
                @*<div class="row n-row">
                    <label class="col-xs-3 m-label">Default Result</label>
                    <div class="col-xs-8">
                        @Html.DropDownList("defreslist", null, new { @id = "defreslist", @name = "defreslist", @class = "form-control" })
                    </div>
                </div>*@
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="m-save-pn">Save</button>
            </div>
        </div>
    </div>
</div>
<div id="modal-rule-add" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog cus-modal" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Add Rule</h4>
            </div>
            <div class="modal-body">
                <input type="hidden" id="m-rule-id" name="m-rule-id" value="">
                <div class="row n-row">
                    <label class="col-xs-3 m-label">Which Test<font color="red">*</font></label>
                    <div class="col-xs-8">
                        <input type="text" class="form-control" id="m-whichtest" name="m-whichtest">
                    </div>
                </div>
                <div class="row n-row">
                    <label class="col-xs-3 m-label">ErrAbbr<font color="red">*</font></label>
                    <div class="col-xs-8">
                        <input type="text" class="form-control" id="m-errabbr" name="m-errabbr">
                    </div>
                </div>
                <div class="row n-row">
                    <label class="col-xs-3 m-label">Parameter</label>
                    <div class="col-xs-8">
                        <input type="text" class="form-control" id="m-param" name="m-param">
                    </div>
                </div>
                <div class="row n-row">
                    <label class="col-xs-3 m-label">Low Limit</label>
                    <div class="col-xs-8">
                        <input type="text" class="form-control" id="m-min" name="m-min">
                    </div>
                </div>
                <div class="row n-row">
                    <label class="col-xs-3 m-label">High Limit</label>
                    <div class="col-xs-8">
                        <input type="text" class="form-control" id="m-max" name="m-max">
                    </div>
                </div>
                <div class="row n-row">
                    <label class="col-xs-3 m-label">Result<font color="red">*</font></label>
                    <div class="col-xs-8">
                        @Html.DropDownList("ruleresultlist", null, new { @id = "ruleresultlist", @name= "ruleresultlist", @class = "form-control" })
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="m-save-rule">Save</button>
            </div>
        </div>
    </div>
</div>
